body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    font-size: 18px;
    font-weight: 200;
    color: #E5E7EB;
    text-decoration-style: none;
    padding: 8px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 150px 0px;
    gap: 48px;
}

.hero-left {
    width: 600px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 8px 0px;
}

.hero-img {
    width: 600px;
    height: 300px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 64px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 128px;
}

.image-subtitle {
    width: 200px;
}

.img-placeholder {
    width: 200px;
    height: 200px;
    border: 4px #3882F6 solid;
    border-radius: 16px;
}

.subtext {
    text-align: center;
}